{% extends "base.html" %}

{% block content %}
<h2>Book an Appointment</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.gender.label }} {{ form.gender(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.home_address.label }} {{ form.home_address(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone.label }} {{ form.phone(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.make.label }} {{ form.make(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.model.label }} {{ form.model(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.year.label }} {{ form.year(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.registration_number.label }} {{ form.registration_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.photos.label }} {{ form.photos(class="form-control-file") }}
    </div>
    <button type="submit" class="btn btn-red">Book Appointment</button>
</form>
{% endblock %}
